.team-card-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    height: 350px;
    align-items: center;
    position: relative;
  
     
      .title {
        width: 90%;
        margin-bottom: 15px;
      }
  
      .content {
        width: 10%;
      }
}
  
  